<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- iisnode configuration for logging -->
    <iisnode
      nodeProcessCommandLine="%programfiles%\nodejs\node.exe"
      loggingEnabled="true"
      logDirectory="iisnode"
      watchedFiles="web.config;*.js"
      devErrorsEnabled="true"
      promoteServerVars="ALL"
      maxLogFileSizeInKB="2048"
      maxTotalLogFileSizeInKB="10240"
      gracefulShutdownTimeout="60000"
    />

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeServer">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
</configuration>
